.productAlign {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
    border: 1px solid black;
    justify-content:space-around;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: pink;
}

.welcomeText {
    text-align: center;
}